pkgbase = lightworks
	pkgdesc = Lightworks is a professional video editing suite
	pkgver = 2023.2.147664
	pkgrel = 2
	url = http://www.lwks.com/
	arch = x86_64
	license = custom
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = libjpeg-turbo
	depends = pango
	depends = curl
	depends = gtk3
	depends = portaudio
	depends = openssl
	depends = libgl
	depends = libtiff
	depends = libutil-linux
	depends = ffmpeg
	depends = glu
	depends = libedit
	depends = nvidia-cg-toolkit
	optdepends = nvidia-utils: only for nVidia users
	optdepends = libc++: only for BlackMagic RAW support (BRAW)
	optdepends = libc++abi: only for BlackMagic RAW support (BRAW)
	conflicts = lwks-beta
	replaces = lwks
	options = !strip
	source = https://cdn.lwks.com/releases/2023.2/lightworks_2023.2_r144664.deb
	sha512sums = 68754c26e8034d00c505f7b4ab861065f97eaebdc220c96da6a319d67058185340ae8843decfa2f569bd0da131cce977fc78be2e9a1a250410887b11f4f5ec06

pkgname = lightworks
